<div class="col-lg-8">
	<h1 class="h1-strong">{{title}}</h1>
	<div id="profile-data" *ngIf="user">
		
		<div class="avatar pull-left" >
			<img src="{{url + 'get-image-user/' + user.image}}" *ngIf="user.image"/>
			<img src="assets/images/user.png" *ngIf="!user.image"/>
		</div>
		<div class="user-name pull-left">
			<div class="label label-default pull-left" *ngIf="followed">
				Te Sigue
			</div>
			<div class="clearfix"></div>
			<div class="pull-left">
				<p class="name">{{user.name + ' ' +user.surname}}</p>
				<p class="nick">{{user.nick}}</p>
			</div>
			<div class="clearfix"></div>
			<div class="follow pull-left">
				<button class="btn btn-success" *ngIf="!following" (click)="followUser(user._id)">
					SEGUIR
				</button>
				<button class="btn btn-primary" *ngIf="following" (click)="unFollowUser(user._id)"  
				(mouseenter)="mouseEnter(user._id)" 
				(mouseleave)="mouseLeave()"
				[class.btn-danger]="user._id ==followUserOver">
					<span *ngIf = "user._id ==followUserOver;else following">
						DEJAR DE SEGUIR	
					</span>
					<ng-template #following>
						SIGUIENDO
					</ng-template>
					
				</button>
			</div>
		</div>
		<div class="stats pull-left" *ngIf="counterfollow">
			<div class="following-data">
				<a [routerLink]="['/following',user._id,1]">
					<span class="label-stats">
						Siguiendo
					</span>
					<span class="number-stats">
						{{counterfollow.following}}
					</span>
				</a>
			</div>
			<div class="following-data">
				<a [routerLink]="['/followed',user._id,1]">
					<span class="label-stats">
						Seguidores
					</span>
					<span class="number-stats">
						{{counterfollow.followed}}
					</span>
				</a>
			</div>
			<div class="following-data">
				<a [routerLink]="['/profile',user._id]">
					<span class="label-stats">
						Publicaciones
					</span>
					<span class="number-stats">
						{{counterfollow.publications}}
					</span>
				</a>
			</div>
			
		</div>
		<div class="col-lg-12 user-publications" *ngIf="user && counterfollow">
	
				<publicationstemplate *ngIf="counterfollow.publications" [user]="user._id"></publicationstemplate>
		</div>
			
	</div>
	
</div>
<sidebar></sidebar>