<div class="col-lg-10">
	<h3>{{title}}</h3>
<div class="people">
	<!-- Listado de Mensajes enviados -->
	<div *ngFor ="let message of messages" class="item-user">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="image-user pull-left">
						<a href="">
							<img src="{{url + 'get-image-user/' +message.emitter.image}}" *ngIf="message.emitter.image">
							<img src="assets/images/user.png" *ngIf="!message.emitter.image">
						</a>
					</div>

					<div class="user-name pull-left">
						<p class="name-surname">
						<a [routerLink]="['/profile',message.emitter._id]">
							{{message.emitter.name +' ' + message.emitter.surname}}	
						</a>&nbsp; | &nbsp;
						<span class="nickname">
							{{message.emitter.nick}}
						</span> &nbsp; | &nbsp;
						<span class="date">
							{{ (message.created_at | amFromUnix) | amLocale: 'es' | amTimeAgo}}
						</span>&nbsp; | &nbsp;
						

					</div>
					<div class="col-lg-12">{{message.text}}</div>

				</div>
			</div>	
		</div>
		</div>
		<!--PAGINACION-->
		<ul class="pagination pull-right">
			<li *ngIf="page >1" ><a [routerLink]="['/messages/received',prev_page]">Anterior</a></li>
			<li *ngIf="pages != page" ><a [routerLink]="['/messages/received',next_page]">Siguiente</a></li>
		</ul>
</div>